<%- include("../partials/header.ejs") %>
<div class="container">
    <div class="row bg-secondary p-3">
        <div class="container-fluid col-12 d-flex">
            <div class="me-auto text-white fs-4 ms-2">
                Inbox
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <a 
                    class="btn btn-secondary text-center fw-bold" 
                    role="button"
                    href="/product"
                >
                    Back  
                </a>
            </div>
        </div>    
    </div>

    <div class="row bg-light">
        <% for (let i = 0; i < allThreads.length; i++) { %>

            <div class="mb-3 ms-4">
                <% if (allThreads[i].buyerUsername === username) { %>
                    <%= allThreads[i].sellerUsername %>
                <% } else { %>
                    <%= allThreads[i].buyerUsername %>
                <% }; %>
            </div>

            <% if (allThreads[i].buyerUsername === username) { %>
                <div class="col-md-8 d-flex align-items-start flex-column me-auto">
                    <div class="mb-auto ms-4">
                        <div class="fw-bold mb-3">
                            <%= allThreads[i].productId.name %>
                        </div>
                        <div class="mb-3">
                            Your Offer: $<%= allThreads[i].offer %>
                        </div>
                    </div>
                    <% if (allThreads[i].status === "Offered") { %>
                        <div class="ms-4 mb-3">
                            <input 
                                type="text" 
                                class="form-control btn btn-success"
                                value="Offered"
                                disabled
                            >
                        </div>
                    <% } else if (allThreads[i].status === "Accepted") { %>
                        <div class="ms-4 mb-3">
                            <input 
                                type="text" 
                                class="form-control btn btn-success"
                                value="Offered Accepted"
                                disabled
                            >
                        </div>
                    <% } else { %>
                        <div class="ms-4 mb-3">
                            <input 
                                type="text" 
                                class="form-control btn btn-danger"
                                value="Offered Rejected"
                                disabled
                            >
                        </div>
                    <% }; %>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <%= new Date(allThreads[i].updatedAt).toISOString().slice(0, 10) %>
                    </div>
                    <div>
                        <a href="/product/<%= allThreads[i].productId._id %>">
                            <img
                                src="<%= allThreads[i].productId.img %>"
                                class="index-img img-thumbnail card-img-top rounded mx-auto d-block w-50 mb-3"
                            >
                        </a>
                    </div>
                </div>
            <% } else { %>
                <div class="col-md-8 d-flex align-items-start flex-column me-auto">
                    <div class="mb-auto ms-4">
                        <div class="mb-3">
                            <%= allThreads[i].buyerUsername %>
                        </div>
                        <div class="fw-bold mb-3">
                            <%= allThreads[i].productId.name %>
                        </div>
                        <div class="mb-3">
                            Offered You: $<%= allThreads[i].offer %>
                        </div>
                    </div>
                    <% if (allThreads[i].status === "Offered") { %>
                        <div class="d-flex ms-4 mb-3">
                            <form
                                method="POST"
                                action="/user/inbox/?_method=PATCH"
                                class="mb-0"
                            >
                                <div class="me-3">
                                    <input 
                                        type="submit" 
                                        class="form-control btn btn-success"
                                        name="sellerAction"
                                        value="Accept Offer"
                                    >
                                    <input
                                        type="hidden"
                                        name="offerID"
                                        value="<%= allThreads[i]._id %>"
                                    >
                                    <input
                                        type="hidden"
                                        name="productId"
                                        value="<%= allThreads[i].productId._id %>"
                                    >
                                </div>
                            </form>
                            <form
                                method="POST"
                                action="/user/inbox/?_method=PATCH"
                                class="mb-0"
                            >
                                <div>
                                    <input 
                                        type="submit" 
                                        class="form-control btn btn-danger"
                                        name="sellerAction"
                                        value="Reject Offer"
                                    >
                                    <input
                                        type="hidden"
                                        name="offerID"
                                        value="<%= allThreads[i]._id %>"
                                    >
                                </div>
                            </form>
                        </div>
                    <% } else if (allThreads[i].status === "Accepted") { %>
                        <div class="d-flex ms-4 mb-3">
                            <div class="me-3">
                                <input 
                                    type="text" 
                                    class="form-control btn btn-success"
                                    value="Accepted Offer"
                                    disabled
                                >
                            </div>
                        </div>
                    <% } else { %>
                        <div class="d-flex ms-4 mb-3">
                            <div class="me-3">
                                <input 
                                    type="text" 
                                    class="form-control btn btn-danger"
                                    value="Rejected Offer"
                                    disabled
                                >
                            </div>
                        </div>
                    <% }; %>
                </div>
                <div class="col-md-4 border-bottom">
                    <div class="text-center">
                        <%= new Date(allThreads[i].updatedAt).toISOString().slice(0, 10) %>
                    </div>
                    <div>
                        <a href="/product/<%= allThreads[i].productId._id %>">
                            <img
                                src="<%= allThreads[i].productId.img %>"
                                class="index-img img-thumbnail card-img-top rounded mx-auto d-block w-50 mb-3"
                            >
                        </a>
                    </div>
                </div>
            <% }; %>
            
            <% if (allThreads[i].messages.length !== 0) { %>
                <div class="container border-bottom">
                    <a 
                        href="/user/inbox/<%= allThreads[i]._id %>"
                        class="message-link"
                    >
    
                        <% if (allThreads[i].messages[allThreads[i].messages.length - 1].username !== username) { %>
                            <p class="d-flex justify-content-start ms-4">
                                <%= allThreads[i].messages[allThreads[i].messages.length - 1].body %>
                            </p>
                        <% } else { %>
                            <p class="d-flex justify-content-end me-3">
                                <%= allThreads[i].messages[allThreads[i].messages.length - 1].body %>
                            </p>
                        <% }; %>
                    </a>
                </div>
            <% }; %>

        <% }; %>
    </div>
</div>
<%- include("../partials/footer.ejs") %>