<%- include("partials/header.ejs") %>
<div class="container">
    <div class="row bg-secondary p-3">
        <div class="container-fluid col-md-6 w-50">
            <form 
                class="ms-2 mb-0"
                method="GET"
                action="/"
            >
                <input 
                    class="form-control" 
                    type="search" 
                    placeholder="Search for an item" 
                    aria-label="Search through homepage products"
                    name="search"
                />
            </form>
        </div>
        <div class="container-fluid col-md-6 d-flex justify-content-end w-50">
            <div class="d-flex align-items-center">
                <a 
                    class="btn btn-secondary text-center fw-bold" 
                    role="button"
                    <% if (username) { %>
                        href="/product/new"
                    <% } else { %>
                        data-bs-toggle="modal" 
                        href="#login"
                    <% }; %>
                >
                    Sell   
                </a>
            </div>
        </div>
    </div>

    <div class="row bg-light">
        <% for (let i = 0; i < products.length; i++) { %>
            <div class="col-md-3 mt-5 mb-5">
                <div class="container-fluid">
                    <div class="fs-5">
                        <%= products[i].sellerId.username %>
                    </div>
                    <div class="fw-light">
                        Posted On: <%= new Date(products[i].updatedAt).toISOString().slice(0, 10) %>
                    </div>
                    <div class="mt-1 mb-1">
                        <a href="/product/<%= products[i]._id %>">
                            <img 
                                src="<%= products[i].img %>" 
                                class="index-img img-thumbnail rounded mx-auto d-block w-100"
                                alt="<%= products[i].name %>"
                            />
                        </a>
                    </div>
                    <div class="fw-bold text-truncate">
                        <%= products[i].name %>
                    </div>
                    <div>
                        $<%= products[i].price %>
                    </div>
                    <div class="text-truncate">
                        <%= products[i].description %>
                    </div>
                    <div>
                        <%= products[i].condition %>
                    </div>
                </div>
            </div>
        <% }; %>
    </div>
</div>
<%- include("partials/footer.ejs") %>