<%- include("../partials/header.ejs") %>
<div class="container">
    <div class="row bg-secondary p-3">
        <div class="container-fluid col-12 d-flex">
            <% if ((username) && (userid == product.sellerId._id)) { %>
                <div class="me-auto ms-2">
                    <form
                        method="POST"
                        action="/product/<%= product._id %>/?_method=DELETE"
                        class="mb-0"
                    >
                        <!-- Button trigger modal -->
                        <button 
                            type="button" 
                            class="btn btn-danger fw-bold" 
                            data-bs-toggle="modal" 
                            data-bs-target="#deleteItem"
                        >
                            Delete Item
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 
                                            class="modal-title" 
                                            id="staticBackdropLabel"
                                        >
                                            Delete Item
                                        </h5>
                                        <button 
                                            type="button" 
                                            class="btn-close" 
                                            data-bs-dismiss="modal" 
                                            aria-label="Close"
                                        ></button>
                                    </div>

                                    <div class="modal-body">
                                        Confirm delete item?
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button 
                                            type="button" 
                                            class="btn btn-secondary" 
                                            data-bs-dismiss="modal"
                                        >
                                            Close
                                        </button>
                                        <button 
                                            type="submit" 
                                            class="btn btn-primary"
                                        >
                                            Confirm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <a 
                        class="btn btn-secondary text-center fw-bold" 
                        role="button"
                        href="/product"
                    >
                        Back   
                    </a>
                    <a 
                        class="btn btn-secondary text-center fw-bold" 
                        role="button"
                        href="/product/<%= product._id %>/edit"
                    >
                        Edit Item   
                    </a>
                </div>
            <% } else { %>
                <div class="ms-auto">
                    <a 
                        class="btn btn-secondary text-center fw-bold" 
                        role="button" 
                        href="/"
                    >
                        Back   
                    </a>
                </div>
            <% }; %>
        </div>
    </div>

    <div class="row">
        <div class="text-center mb-3">
            <img 
                src="<%= product.img %>" 
                class="show-img rounded mx-auto d-block w-100"
            />
        </div>
        <div class="col-md-9">
            <div class="border-bottom mb-3">
                <div class="fs-2 mb-3">
                    <%= product.name %>
                </div>
                <div class="fs-2 fw-bold mb-3">
                    $<%= product.price %>
                </div>
                <div class="fs-3 mb-3">
                    <%= product.condition %>
                </div>
            </div>
            <div class="border-bottom mb-3">
                <h3 class="mb-3">Description</h3>
                <div class="mb-3">
                    Category: <%= product.category %>
                </div>
                <div class="mb-3">
                    <%= product.description %>
                </div>
            </div>
            <div class="mb-3">
                <h3 class="mb-3">Meetup Location</h3>
                <div class="mb-3">
                    <p><%= product.meetLocation %></p>
                    <iframe 
                        width="600" 
                        height="450" 
                        style="border:0" 
                        loading="lazy" 
                        allowfullscreen 
                        src="https://www.google.com/maps/embed/v1/search?q=<%= product.meetLocation %>&key=<%= GMAP_KEY %>"
                    ></iframe>
                </div>
            </div>
        </div>
        <% if (userid != product.sellerId._id) { %>
            <% if (product.status === "Sold") { %>
                <div class="col-md-3">
                    <input 
                        class="form-control btn btn-danger 
                        type="text" 
                        value="<%= product.status %>"
                        disabled
                    />
                </div>
            <% } else { %>
                <div class="col-md-3">
                    <form
                        method="POST"
                        action="/user/inbox"
                    >
                        <div class="mb-3">
                            <textarea 
                                class="form-control"
                                rows="8"
                                name="message"
                                autofocus="autofocus"
                                placeholder="Write a custom message..."
                            ></textarea>
                        </div>
                        <div class="mb-5">
                            <input 
                                class="form-control btn btn-success mb-3" 
                                type="submit" 
                                value="Send message to <%= product.sellerId.username %>"
                            />
                            <input
                                type="hidden"
                                name="productId"
                                value="<%= product._id %>"
                            />
                            <input
                                type="hidden"
                                name="sellerUsername"
                                value="<%= product.sellerId.username %>"
                            />
                        </div>
                    </form>
                    <% if (thread && thread.offer && thread.status !== "Rejected") { %>
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    S$
                                </div> 
                                <input 
                                    class="form-control" 
                                    type="text"
                                    name="offer"
                                    value="<%= product.price %>"
                                    disabled
                                /> 
                            </div>                 
                            <input 
                                class="form-control btn btn-success"
                                type="text"
                                value="Offered"
                                disabled
                            />
                        </div>
                    <% } else { %>
                        <form
                            method="POST"
                            action="/user/inbox"
                        >
                            <div>
                                <div class="input-group mb-3">
                                    <div class="input-group-text">
                                        S$
                                    </div> 
                                    <input 
                                        class="form-control" 
                                        type="text"
                                        name="offer"
                                        value="<%= product.price %>"
                                    /> 
                                </div>                 
                                <!-- Button trigger modal -->
                                <button 
                                    type="button" 
                                    class="form-control btn btn-danger" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#makeOffer"
                                >
                                    Make Offer
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="makeOffer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 
                                                    class="modal-title" 
                                                    id="staticBackdropLabel"
                                                >
                                                    Make Offer
                                                </h5>
                                                <button 
                                                    type="button" 
                                                    class="btn-close" 
                                                    data-bs-dismiss="modal" 
                                                    aria-label="Close"
                                                ></button>
                                            </div>

                                            <div class="modal-body">
                                                Confirm make offer?
                                            </div>
                                            
                                            <div class="modal-footer">
                                                <button 
                                                    type="button" 
                                                    class="btn btn-secondary" 
                                                    data-bs-dismiss="modal"
                                                >
                                                    Close
                                                </button>
                                                <button 
                                                    type="submit" 
                                                    class="btn btn-primary"
                                                >
                                                    Confirm
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input
                                    type="hidden"
                                    name="productId"
                                    value="<%= product._id %>"
                                />
                                <input
                                    type="hidden"
                                    name="sellerUsername"
                                    value="<%= product.sellerId.username %>"
                                />
                            </div>
                        </form>
                    <% }; %>
                </div>
            <% }; %>
        <% } else { %>
            <div class="col-md-3">
                <div>
                    <form
                        method="POST"
                        action="/product/<%= product._id %>/?_method=PATCH"
                    >
                        <% if (product.status !== "Sold") { %>               
                            <input 
                                class="form-control btn btn-danger" 
                                type="submit" 
                                value="Mark As Sold"
                            />
                            <input
                                type="hidden"
                                name="productId"
                                value="<%= product._id %>"
                            />
                        <% } else { %>
                            <input 
                                class="form-control btn btn-danger 
                                type="text" 
                                value="<%= product.status %>"
                                disabled
                            />
                        <% };%>
                    </form>
                </div>
            </div>
        <% }; %>
    </div>
</div>
<%- include("../partials/footer.ejs") %>